# Bytecode / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# Jupyter notebook checkpoints (if added later)
.ipynb_checkpoints/

# Logs and metadata
*.log
*.sqlite3
*.db

# DVC and MLflow artifacts
volumes/*
!volumes/**/README.md
.dvc/
.mlruns/
mlruns/
*.dvc

# Model checkpoints
*.pth
checkpoints/

# Data and cache
ephemeral/
data/
.cache/
*.zip
*.tar.gz

# OS / editor stuff
.DS_Store
Thumbs.db
*.swp

# Docker
docker/minio_data/
docker/mlruns/
*.pid

# VS Code
.vscode/

# Pytest cache
.pytest_cache/

# Environment
.env

# Node modules
node_modules/

# Environment files
deploy/.env

# Logs
deploy/npm-debug.log*
deploy/yarn-debug.log*
deploy/yarn-error.log*

# Optional build artifacts or temp
deploy/dist/
